/* CSS Stylesheet */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* body{
    background-color: red;
} */

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    top: 0;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    top: 0;
    left: 0;
}

#logo{
    margin: 1px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img{
    height: 70px;
    margin: 3px 6px;
}

#class-name{
    font-size: 2rem;
    color: white;
    font-weight: bold;
    margin-left: 20px;
}

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}


/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 546px;
    align-items: center;
    justify-content: center;
}

#home::before{
    content: "";
    background: url(../images/bg4.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .6;
    top: 0;
    left: 0;
}

#home h1{
    color:rgb(136, 12, 12);
    align-items: center;
}
#home p{
    color:brown;
    font-weight: bold;
    align-items: center;
    font-size: 1.5rem;
    
}

/* Horizontal Line */
#after-home-hr-line{
    color: brown;
    background-color: brown;
    margin-top: 70px;
}

/* Services Section */
#service-container{
    /* margin: 0 0 0 0 ; */
}

#services{
    margin: 0 20px;
    display:flex;
    text-align: center;
    justify-content: center;

}

#services .box{
    border: 2px solid brown;
    padding: 20px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: #f2f2f2;
}

#services .box img{
    height: 200px;
    display: block;
    margin: auto
}


/* Client Section */

#client-section{
    margin: 10px;
    
}

/* #client-section::before{
    content: '';
    background-color: #f2f2f2;
    height: 60%;
    width: 100%;
    position: absolute;
    z-index: -2;
    border-radius: 50px;
    margin: auto;
} */


#clients{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
}

.client-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client-item img{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 2px solid brown;
    padding: 5px;
    margin: 0 40px;
}


/* Contact Section */

 #contact{
    background-color: rgb(233, 171, 171);
    /*display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;*/

} 

#contact-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 34px;
    /* flex-direction: column; */
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem; 
    border-radius: 9px;
    font-size: 1rem;  
}

#contact-box input[type="submit"]{
    margin-top: 10px;

}

 /* .form-group{
    display: block;
    align-items: center;
    /* flex-direction: column; */


.form-group form{
    width: 40%;
}

.form-group label{
    font-size: 1.3rem;
}


/* Footer */
footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.footer-section{
    font-size: 1.2rem;
    
    color: white;
}

/* Utility Class */
.h-primary{
    font-size: 4.8rem;
    padding: 12px;
}

.h-secondary{
    font-size: 3rem;
    padding: 12px;
    /* margin: 22px; */
    margin: 0 0 0 0;
}



.h-team{
    font-size: 1.8rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1rem;
    border-radius: 10px;
}

.center{
    text-align: center;
}